
body{ 
    font-family: 'Roboto', sans-serif;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

.navbar .dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        display: none !important;;
    }
}  

.img-auction-detail{
    display: block;
    max-width: 400px;
    height: auto;
} 

@media (max-width: 768px){
    .img-auction-detail{
        max-width:100%;
    }
}

.two-columns{
    gap: 40px;
}

.yellow-text{
    color: #FFD700;
    font-weight: bold;
    font-size: 64px;
}

.green-text{
    color: #42AA1F;
    font-weight: bold;
    font-size: 2em;
}

h4{
    font-weight: bold;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{  
    opacity: 1
}

.container{
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: auto;
}

nav .container{
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: unset;
}


.auction-description{
    background-color: #EEEEEE;
    padding: 1px 0 1px 0;
}

input[type="number"]{
    max-width:200px;
    font-size:25px;
}

@media (min-width: 768px){
.table-display-lg{
    display:table;
}

.table-display-sm{
    display:none;
}
}

@media (max-width: 768px){
    .table-display-lg{
        display:none;
    }
    .table-display-sm{
        display:table;
    }
}

.table-plain, .table-plain tr, .table-plain td, .table-plain th{ 
    border:none!important;
    background-color: transparent!important;
}

.table-plain tr:hover{
    box-shadow:none!important;
}

.table-striped tbody tr:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px, rgb(0 0 0 / 10%) 0px 3px 10px 0px;
    transition: box-shadow 100ms linear 0s;
}

.detail-container{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 4;
}

.detail-background{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 3;
    background-color: #DDDDDD;
    opacity: 50%;
}

.detail-view-hide{
    display: none!important;;
    z-index:0;
}
.detail-form{
    max-width: 500px;
    background-color: #FFFFFF;
    z-index: 5;
    opacity:1;
    padding:20px;
    border-radius:20px;
}

.detail-list-view{
    max-height:500px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

#auctionTypeSwitch > label::after{
    background: #42AA1F;
}

#auctionTypeSwitch > input[type="checkbox"]:not(:checked) + label::before {
    background: #42AA1F;
    opacity: 0.5;
}

#auctionTypeSwitch > input[type="checkbox"]:checked + label::after {
    background: #FFD700;
    left: 20px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.label-green{
  background: #42AA1F;
  color: #42AA1F;
}

.label-yellow{
  background: #FFD700;
  color: #FFD700;
}

.auctionTypeLabel.label-green {
    background: transparent;
    color: #42AA1F;
  }
  
.auctionTypeLabel.label-yellow{
    background: transparent;
    color: #FFD700;
  }
 